body {
  text-align: center;
  background-color: white;
  }
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  }
h1{
  background-color:#492f92;
  background: linear-gradient(#492f92 , #613ec1);
  padding:10px;
  font-size:7vw;
  margin:-10px;
  margin-bottom:50px;
  color:white;
  font-weight:normal;
  font-family:"Times New Roman";
  border: 5px solid black ;
}
h1 img{
  height:0.75em;
  width:0.6em;
}
table{
    border-collapse: separate;
    border-spacing: 1em 1em;
}
td{
  border: 0px solid;
  padding: 20px;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  background: linear-gradient(#edd3ff , #b74cff);
  min-width:90vw;
  font-size: 200%;
  font-family: "Cambria"
}
tr{
  margin-bottom: 10px;
}